
body {
    font-family: 'Montserrat', sans-serif;
    color: #009688;
    
}
.jumbotron { 
    height: 1000px;
    background: url("../img/comp.jpg");
    background-position: center;
    background-size:cover;
    margin-bottom: 0;
  }
.jumbo-caption{
    font-weight: 900;
    background:rgb(0,0,0,0.01);
    text-shadow:2px 2px 2px #FAFAFA;
    width: fit-content;
    color: #212121;
}
.navbar{
    background:rgb(33, 33, 33);
    border: none;
}
.navbar-dark .navbar-nav .nav-link{
    color:#FFFFFF;
    background:none;
}
.navbar navbar-expand-lg justify-content-end{
    background: none;
}
a.nav-link{
    background: none;
}
a.nav-link:hover{
    border-bottom: 2px solid #009688;
}

/* .navbar-default .navbar-nav>li>a{
    color: #009688;
}
.navbar-default .navbar-nav>li>a:hover{
    color:#009688;
    border-bottom-color:#BDBDBD;
}
.navbar-default .navbar-brand {
    color:#009688;
} */

#img-header {
    border:none;
    margin-bottom: 10px;
    height: fit-content;
}
#img-self {
    
    border:none;
    margin-bottom: 10px;
    border-radius: 3px;
    /* position: relative; */
}
.carousel-caption{
    color: #009688;
    font-weight: 900;
    font-size: 18px;
    /* text-shadow: 1px 1px 1px #ffffff; */
}
.carousel-caption p{
    background:rgb(33, 33, 33,0.7);
    /* width:fit-content; */
 
}

#aboutMe{
   
padding: 120px;
}
#about-card{
    color: #009688;
    font-size: 16px;
    text-align: justify;
    /* border: 1px solid #BDBDBD; */
    border-radius: 20px;
    /* background:#607D8B; */
}
#about-card p {
}
#work{
    padding-top:120px; 
}
#experience-card {
   padding: 25px 10px 25px 20px;
   background: rgb(33, 33, 33,0.9);
   border-radius:  3px;
   margin-bottom: 20px;
}
#school-card {
   padding: 25px 10px 25px 20px;
   background: rgb(33, 33, 33,0.9);
   border-radius:  3px;
   margin-bottom: 20px;
   height: fit-content;
}
#skillsAttr{
    padding-top:120px; 
    margin-bottom: 0px;
}
#skillsAttr-card{
    color: #009688;
    padding: 25px 10px 25px 20px;
    /* background: #607D8B;
    border-radius: 20px; */
}
#skills{
   
    /* background: rgb(189, 189, 189,0.2); */
}

.list-group-item{
    background: none;
    border: none;
}
#projects{
    padding-top:120px;
}
#projects .col-sm-6 p{
    line-height: 50px;
}

.section{
    min-height: 1000px;
    overflow: hidden;
    position: 'relativ';
    padding: 10% 10px 0px;
}
.section:nth-child(even){
    background-image: url("../img/bg_img.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section:nth-child(odd){
    background: #212121; 
    
}

#contact{
    padding-top:120px; 
    text-align: center;
    font-size: 20px;
    color:#009688;
}

#contact-elements{
    margin: 100px 0 0 0;
}

.contact-ico{
    color:#009688;
    font-size: 25px;
    margin: 0px 5px 0px 5px;
}
a:link,a:visited{
    color:#009688;;
}
#img-code{
    width:fit-content;
}

#home{
   font-size: 18px;
}

li :hover {
    border-bottom: 2px solid rgb(91, 138, 82);
    
}
footer{
    padding: 20px 0 0 0 ; 
    color: #FFFFFF;
    background: #000000;
}
.footer-ico{
    color: #FAFAFA;
    font-size: 25px;
    margin: 0px 5px 0px 5px;
}


